<section class="hero">
        <div class="hero-content">
            <div class="box-container">
                <img class="cocas-text" src="https://framerusercontent.com/images/JmcEv7KBSOHVSedtaKlDV0mklU.png?lossless=1">
            </div>
            
            <div class="content-text">
                <h1 class="main-text">¡No más arroz con huevo de último minuto!</h1>
                <h2 class="sub-text">Planea tus Cocas como un <span class="highlight">PRO</span>.</h2>
                
                <div class="buttons">
                    <a href="#" class="btn btn-primary">Regístrate</a>
                    <a href="#" class="btn btn-secondary">Inicia Sesión</a>
                </div>
            </div>
        </div>
    </section>