<section class="features-section">
        <!-- Calendario semanal -->
        <div class="feature">
            <div class="feature-content">
                <h3 class="feature-title">Calendario semanal de Cocas</h3>
                <p class="feature-description">Visualización de los platos asignados para cada día (Lunes a Viernes). División en desayuno, almuerzo y cena.</p>
            </div>
            <div class="feature-visual">
                <img class="calendar-container" src="undraw_schedule_ry1w.svg">
            </div>
        </div>

        <!-- Gestión de recetas -->
        <div class="feature">
            <div class="feature-content">
                <h3 class="feature-title">Gestión de recetas</h3>
                <p class="feature-description">Crear, editar y eliminar recetas. Cada receta incluye una descripción detallada del proceso de preparación.</p>
            </div>
            <div class="feature-visual">
                <img class="recipe-container" src="undraw_diet_zdwe.svg">        
            </div>
        </div>

        <!-- Lista de compras -->
        <div class="feature">
            <div class="feature-content">
                <h3 class="feature-title">Generación automática de lista de compras</h3>
                <p class="feature-description">A partir de las comidas planificadas se generará automáticamente una lista consolidada de ingredientes. Evita duplicados y agrupa por cantidad o ítems.</p>
            </div>
            <div class="feature-visual">
                <img class="shopping-container" src="undraw_shopping-app_b80f.svg">
            </div>
        </div>

        <!-- Búsqueda y filtrado -->
        <div class="feature">
            <div class="feature-content">
                <h3 class="feature-title">Búsqueda y filtrado</h3>
                <p class="feature-description">Buscar recetas por nombre o tipo de comida (desayuno, almuerzo, etc.).</p>
            </div>
            <div class="feature-visual">
                <img class="search-container" src="undraw_breakfast_rgx5.svg">
            </div>
        </div>
    </section>